#container {
    border: 1px solid black;
    display: grid;
    width: 550px;
    height: 550px;
    cursor: crosshair;
    margin: auto;
}

#controls {
    display: flex;
    margin: auto;
    flex-direction: column;
}

#size,
#colors {
    margin: auto;
    margin-top: 10px;
}


